@charset "utf-8";

.case {
	margin-top: 100px;
}
.case .case1 {
	width: 80px;
	height: 80px;
	border: 2px solid #ccc;
	background-color: #f0f;
}
.case .clickme {
	margin-top: 15px;
	cursor: pointer;
}
.container {
	display: none;
	position: fixed;
	top: 40%;
	left: 35%;
	width: 300px;
	margin: 0 auto;
	padding: 30px 50px;
	border: 2px solid #ccc;
	background-color: #fff;
	text-align: center;
}
.container .item {
	padding: 5px;
}
.container span {
	display: inline-block;
	width: 50px;
	height: 24px;
	margin-left: 15px;
	border: 1px solid #ccc;
	cursor: pointer;
}
.container .red {
	background-color: #f00;
}
.container .green {
	background-color: #0f0;
}
.container .blue {
	background-color: #00f;
}
.container .ensure {
	margin-top: 20px;
	cursor: pointer;
}
/*遮罩*/
.shade {
	display: none;
	position:fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.3);
}