@charset "utf-8";

body,h1,h2,h3,ul,p{
	margin:0;
	padding:0;
}

body{
	min-width: 1280px;
	margin:0 auto;
}

a{
	text-decoration: none;
}

ul{
	list-style: none;
}

#header{
	width:100%;
	min-width: 1280px;
	height:70px;
	background-color:#333;
}

#header .nav{
	width:100%;
	min-width:1280px;
	height:70px;
	/*background-color:#03D1AD;*/
	margin:0 auto;
	/*border-top-left-radius:10px;*/
}

#header .nav .logo{
	background:url("./img/logo.png");
	width:240px;
	height:70px;
	/*text-indent: -9999px;*/
	float:left;
	margin-left: 50px;
}

#header .link{
	float:right;
	margin-right: 100px;
}

#header .link ul{
	text-align: center;
	height:70px;
	line-height: 70px;
}

#header .link li{
	float:left;
	width:120px;
	height:70px;
}

#header .link li a{
	display: block;
	color:#eee;
}

#header .link li a:hover,#header .link .active{
	background-color: #000;
	font-weight: bold;
}

#footer{
	height:360px;
	background-color: #222;
	clear:both;
}

#footer .top{
	width:100%;
	min-width:1280px;
	height:280px;
	margin:0 auto;
	text-align: center;
}

#footer .bottom{
	height:80px;
	line-height: 80px;
	text-align: center;
	color:#777; 
	border-top: 1px solid #444;
	background-color: #000;
}

#footer .same{
	width:410px;
	height:280px;
	display: inline-block;
	/*background-color: green;*/
	text-align: left;
	color: #ccc;
	vertical-align: top;
}

#footer .same h3{
	font-size: 22px;
	font-weight: normal;
	margin:20px 0 0 30px;
}

#footer .same hr{
	width:90%;
	border:1px dashed #333;
	margin-bottom: 15px
}

#footer .same ul{
	font-size: 16px;
	margin-left: 35px;
	color:#999;
}

#footer .same li{
	margin:10px 0;
}

